@font-face {
    font-family: 'tf2secondary';
    src: url('https://onepunchmanatee.github.io/CTK301/assign10folder/PortfolioSite.woff2') format('woff2'),
         url('https://onepunchmanatee.github.io/CTK301/assign10folder/PortfolioSite.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-family: 'tf2build';
    src: url('https://onepunchmanatee.github.io/CTK301/assign10folder/tf2build.woff2') format('woff2');
    src: url('https://onepunchmanatee.github.io/CTK301/assign10folder/tf2build.woff') format('woff');
    src: url('tf2build-webfont.woff2') format('woff2');
    src: url('tf2build-webfont.woff') format('woff');
}

.carousel {
  color: #170724;
  --carousel-button-bg: #fff;
  --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0
          0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  --carousel-button-svg-stroke-width: 2.5;
  --carousel-slide-width: 24%;
  margin: 0;
  padding: 0;
}

.carousel.carousel__slide {
  display: flex;
  width: 20%;
  height: 300px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin: 0;
  padding: 0;
}

.slideshow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .slideshow a {
    margin: 10px;
  }
  
  .slideshow a img {
    max-width: 10%;
    height: auto;
  }